body, p, h1{
    margin: 0;
    padding: 0;
}
h1{
   font-family: Great Vibes;
    color: green;
    font-size: 20px;
}
.name{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.flex_container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.img_box{
    list-style: none;
}
.img_details{
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 5px solid grey;
}
.img_details:hover{
    opacity: 0.6;
}

@media screen and (max-width: 1020px) {
    .container{
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .flex_container{
        display: block;
        margin: 0 auto;
        justify-content: center;
    }
    header{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .title{
        text-align: center;
        margin: 0 auto;
    }
}
